
#tagColumn {
   vertical-align : top;
   font-size: small;
}

#kanjiColumn {
   vertical-align : top;
}

#kanjiTable {
}

.active {
    background-color : wheat;
}

.multiple_kanji > .ui-button-text  {
    font-weight : bold;
}

.extra_multiple_kanji > .ui-button-text  {
    font-weight : bold;
    font-size: 150%;
}

.alternative_tag   {
    background-color : #dddddd !important;
}

.ui-button-text-only .ui-button-text {
    padding: .1em .1em !important;
}

.ui-tabs .ui-tabs-panel {
}

.kanjiref {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius:3px;
	text-decoration:none;
	color: black;
}

.kanjiref:hover {
color: inherit;
}

.kanjiref:hover {
    border: 1px;
    box-shadow: 0px 0px 1px #777;
	background-color: #eeeeee;
}

.kanjiref:active {
	position:relative;
	top:1px;
}

.kanjiref_xactive {
    border: 1px;
    box-shadow: 0px 0px 1px #777;
    background: -webkit-linear-gradient(left, #aaffaa, #ffaaaa); 
	background: -moz-linear-gradient(left, #aaffaa, #ffaaaa);
	background: -ms-linear-gradient(left, #aaffaa, #ffaaaa);
	background: -o-linear-gradient(left, #aaffaa, #ffaaaa);	
}

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:small;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	font-size:normal;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

.word_space {
	margin-left: 5px;
	margin-right: 5px;
}

#kanji_space {
	vertical-align: top;
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
	padding-left: 3px;
	padding-right: -5px;
}

.word_td {
  white-space : nowrap;
}

.reading_td {
  white-space : nowrap;
}

.rank_td {
  text-align: center;
}

.span_onyomi {
	color: coral;
}

.span_kunyomi {
	color: dodgerblue;
}
