<!doctype html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Kanji List</title>
	<link rel="stylesheet" type="text/css" href="static/style/main.css">
    <link href="static/style/smoothness2/jquery-ui-1.11.2.custom.min.css" rel="stylesheet"/>
	<link href="static/style/pagination.css" rel="stylesheet"/>
	<script src="{{ url_for('static', filename='script/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='script/jquery-ui-1.11.2.custom.min.js') }}"></script>
	<script src="{{ url_for('static', filename='script/jquery.pagination.js') }}"></script>
	<script>
    var tags = {{ tagMap|safe }};
    var onyomiMap = {{ onyomiMap|safe }};
    var kunyomiMap = {{ kunyomiMap|safe }};
	var wordTableContext = null;
	var wordsPerPage = 20;
	var readingRequestLife = 1;
    
    function onPropButtonClick(button, map) {
        var tag = button.next().text();
       // console.log(tag);
        var ids = map[tag];
        if(ids) {
            for(var i = 0; i < ids.length; ++i) {
              //  console.log(ids[i].toString());
                $("td #id_" + ids[i].toString()).toggleClass('active'); 
            }
        }    
    }
	
	function humanFormat(num) {
		 if (num >= 1000000000) {
			return (num / 1000000000).toFixed(1).replace(/\.0$/, '') + 'G';
		 }
		 if (num >= 1000000) {
			return (num / 1000000).toFixed(1).replace(/\.0$/, '') + 'M';
		 }
		 if (num >= 1000) {
			return (num / 1000).toFixed(1).replace(/\.0$/, '') + 'K';
		 }
		 return num;
	}
    
    function emphasizeTag(map, key, label) {
        var ids = map[key];
        if(!ids) {
            return;
         }
         
        if(ids.length >= 10) {
            $(label).addClass("extra_multiple_kanji");        
        }
        else if(ids.length >= 5) {
            $(label).addClass("multiple_kanji");
        }  
    }
    
    function getOnyomiTab(onyomi) {
        if(onyomi[0] < 'サ') {
            return $('#panel_a_g')
        } 
        else if (onyomi[0] <= 'ド') {
            return $('#panel_s_d')        
        }
        else {
            return $('#panel_n_w') 
        }
    }
    
    function getKunyomiTab(kunyomi) {
        if(kunyomi[0] < 'か') {
            return $('#panel_kun_a_o')
        }
        else if (kunyomi[0] < 'さ') {
            return $('#panel_kun_ka_ko')        
        }
        else if (kunyomi[0] < 'た') {
            return $('#panel_kun_sa_so')        
        }        
        else if (kunyomi[0] < 'な') {
            return $('#panel_kun_ta_to')        
        }
        else if (kunyomi[0] < 'ま') {
            return $('#panel_kun_na_ho')        
        }        
        else {
            return $('#panel_kun_other') 
        }
    }
	
	function highlightRelatedKanji(clickedKanji, kanjiList) {
		$(clickedKanji).addClass('kanjiref_xactive');	
		for(var i = 0; i < kanjiList.length; ++i) {
			var kanji  = kanjiList[i][0];
			var weight = kanjiList[i][1];
			var succeeding = kanjiList[i][2];
			
			var min = 32;
			cost = Math.floor((255 - min) * (100 - weight) / 100);
			
			var rgb = succeeding ? [ 255, cost, cost] : [cost, 255, cost];
			var rgbStr = 'rgb(' + rgb[0].toString() + ', ' 
			                    + rgb[1].toString() + ', '
                                + rgb[2].toString() + ')';
			//console.log(rgbStr);
			
			$('.kanjiref:contains(' + kanji + ')').css('background-color', rgbStr);
		}
	}
	
	function requestKanjiReading(word, kanji, readingCell) {
		    $.ajax({
					url: '/get_kanji_reading',
					data: { "kanji" : kanji,
							"word" : word
						},
					dataType: "json",
					error: function(jqXHR, textStatus, errorThrown){
					},
					success: function(result, textStatus, jqXHR){
						if(result) {
							//highlightRelatedKanji(that, result.related_kanji);
							//console.log(result.related_kanji);
							//console.log(result.word_list);
							//addRelatedWords(kanji, result.word_list);
							
							
							if(result.res) {
								//var table = $("<table class='readings'/>")
								for(var i = 0; i < result.res.length; ++i) {
									//var tr = $("<tr/>");
									//var td = $("<td/>");
									//tr.append(td);
									var td = $("<div/>");
									var word = result.res[i].word;
									var positions = result.res[i].positions;
									var lastChunkEnd = 0;
									for(var j = 0; j < positions.length; ++j) {
										var position = positions[j];
										var head = word.substring(lastChunkEnd, position.from);
										if(head.length) {
											td.append("<span>" + head + "</span>");
										}
										
										var my  = word.substring(position.from, position.to);
										if(my.length) {
											var style = position.onyomi ? "span_onyomi" : "span_kunyomi";
											td.append("<span class='" + style + "'>" + my + "</span>");
										}
										
										lastChunkEnd = position.to;
									}
									var tail  = word.substring(lastChunkEnd);
									if(tail.length) {
										td.append("<span>" + tail + "</span>");
									}
									//table.append(tr);
									readingCell.append(td);
								}
								//readingCell.append(table);
							}
							
						}
					}
					});		
	}
	
	function setPagination(kanji, words)  {
		++readingRequestLife;
		wordTableContext = words ? [kanji, words] : null;
		var rowNumber = words ? words.length : 0;
		$("#paging").pagination(rowNumber, {
					items_per_page : wordsPerPage,
					callback : handlePaginationClick,
					next_text : '',
					prev_text : '',
					num_display_entries : 5,
					num_edge_entries : 1,
					
					'kanji' : kanji,
					'words' : words
			});	
	}
	
	function addRelatedWords(kanji, words) {
		//kanjiWordList = words;
		setPagination(kanji, words);
	}
	
	function handlePaginationClick(new_page_index, pagination_container) {

		if(!wordTableContext) {
			return;
		}
		
		var kanji = wordTableContext[0];
		var kanjiWordList = wordTableContext[1];
		
		//var wordsPerPage = pagination_container.opts.items_per_page;
		console.log("Go to new page " + new_page_index.toString());		
		if((new_page_index * wordsPerPage) >= kanjiWordList.length) {
			console.log("too far");
			return;
		}		
		
		var wordsToFill = wordsPerPage; // items_per_page instead !
		var rest = (new_page_index + 1) * wordsPerPage - kanjiWordList.length;
		if(rest > 0) {		
			wordsToFill = wordsPerPage - rest;
		}

		//console.log(wordsToFill.toString())
		$("#word_table_body").empty();
		for(var i = new_page_index * wordsPerPage ; i < new_page_index * wordsPerPage + wordsToFill; ++i) {
			var row = $('<tr/>');
			var wordCell = $('<td class="word_td"/>').html(kanjiWordList[i][0]);
			var readingCell = $('<td class="reading_td"/>').html('');
			var rank = humanFormat( parseInt(kanjiWordList[i][1]) );
			var freqCell = $('<td class="rank_td"/>').html(rank);
			row.append(wordCell).append(readingCell).append(freqCell);
			$('#word_table_body').append(row);
			requestKanjiReading(kanjiWordList[i][0], kanji, readingCell);
		}
	}
    
    function createYomiTags(readingMap, readingName, getTabFn) {
        var keys = Object.keys(readingMap);
        var lastSyllable = null;
        var alternativeTag = false;
        //var tagPanel = $('<td  style="display:inline-flex;"/>');
        for(var i = 0; i < keys.length; ++i ) {
            var toggleBtn = $('<input type="checkbox" class="' + readingName + '_toggle" id="' +
            readingName + i.toString() + '" />');
            var label = ($('<label for="' + readingName + i.toString() + '">' + keys[i] +'</label>'));
            emphasizeTag(readingMap, keys[i], label);
            if(lastSyllable && lastSyllable != keys[i][0]) {
                alternativeTag = !alternativeTag;
               // tab.append(tagPanel);
               // tagPanel = $('<td  style="display:inline-flex;"/>')
               // if(alternativeTag) {
              //      tagPanel.addClass("alternative_tag");
              //  }
            }
            lastSyllable = keys[i][0];
            if(alternativeTag) {
                $(label).addClass("alternative_tag");
            }
            var tab = getTabFn(keys[i]);
            tab.append(toggleBtn).append(label);
        }
        
        $('.' + readingName +'_toggle').button().click(function() {
                onPropButtonClick($(this), readingMap);
            });    
    }

    $(document).ready(function(){
        var keys = Object.keys(tags);
        for(var i = 0; i < keys.length; ++i ) {
            var toggleBtn = $('<input type="checkbox" class="tag_toggle" id="tag' + i.toString() + '" />');
            var label = ($('<label for="tag' + + i.toString() + '">'  +keys[i] +'</label>'));
            $("#tagMap").append(toggleBtn).append(label);  
        }
        
        $(".tag_toggle").button().click(function() {
                onPropButtonClick($(this), tags);
            });

        createYomiTags(onyomiMap, "onyomi", getOnyomiTab);
        createYomiTags(kunyomiMap, "kunyomi", getKunyomiTab);
            
         $("#tabs").tabs();
		setPagination('', null);
		 
		$(".kanjiref").click(function(e) {
			var kanji = $(this).html();
			console.log("Requesting " + kanji);
			e.preventDefault();
			var that = $(this);		
			//kanjiWordList = null;
			var clickedOnActive = that.hasClass('kanjiref_xactive');
			$('.kanjiref').removeClass('kanjiref_xactive').css('background-color', '');
			$("#word_table_body").empty();
			setPagination('', null);
			if(clickedOnActive) {
				return;
			}
		    $.ajax({
					url: '/related_kanji',
					data: { "kanji" : kanji,
							"threshold" : 1
						},
					dataType: "json",
					error: function(jqXHR, textStatus, errorThrown){
					},
					success: function(result, textStatus, jqXHR){
						if(result) {
							highlightRelatedKanji(that, result.related_kanji);
							//console.log(result.related_kanji);
							//console.log(result.word_list);
							addRelatedWords(kanji, result.word_list);
						}
					}
					});	
			});
		

    });
	</script>
</head>
<body>
<table>
<tr>
    <td id="tagColumn" width="20%">
        <table>
			<tr>
				<td>
					<div><h4>Tags</h4></div>
				</td>
			</tr>
			<tr>
				<td id="tagMap"/>
			</tr>
			<tr>
				<td>
					<h4>Readings (On&amp;Kun)</h4>
				</td>
			</tr>
			<tr>
				<td>
					<div id="tabs">
						<ul>
							<li><a href="#panel_a_g">音:ア-コ</a></li>
							<li><a href="#panel_s_d">音:サ-ド</a></li>
							<li><a href="#panel_n_w">音:ナ-ワ</a></li>
							<li><a href="#panel_kun_a_o">訓:あ-お</a></li>
							<li><a href="#panel_kun_ka_ko">訓:か-こ</a></li>
							<li><a href="#panel_kun_sa_so">訓:さ-ぞ</a></li>
							<li><a href="#panel_kun_ta_to">訓:た-ど</a></li>
							<li><a href="#panel_kun_na_ho">訓:な-ぼ</a></li>
							<li><a href="#panel_kun_other">訓:ま-を</a></li>
						</ul>                
					<div class="tabs-content">
						<table>
							<tr id="panel_a_g"></tr>
						</table>
						<div id="panel_s_d" ></div>
						<div id="panel_n_w" ></div>
						<div id="panel_kun_a_o" ></div>
						<div id="panel_kun_ka_ko" ></div>
						<div id="panel_kun_sa_so" ></div>
						<div id="panel_kun_ta_to" ></div>
						<div id="panel_kun_na_ho" ></div>
						<div id="panel_kun_other" ></div>
					</div>
				</div>
				</td>
			</tr>
			<tr>
				<td id="onyomiMap"></td>
			</tr>
        </table>
    </td>
</tr>
<tr>
    <td id="kanjiColumn">
		<table>
		<tr>
			<td>
				<h4 style="text-align: center;">Words Containing Selected Kanji</h4>
			</td>
			<td style="text-align: center;">
				<table width = "100%">
					<tr>
						<td width = "100%"><h3 >Joyo Kanji</h3></td>
						<td><button id="select_kanji_list" style=" white-space : nowrap;" >Select kanji list</button></td>
						<td><button id="select_sortby" style="white-space : nowrap;">Sorted by</button></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td style="vertical-align : top;">	
				<table id="word_table" class="gridtable word_space">
					<thead>
					  <tr>
						 <th>Word</th>
						 <th>Reading</th>
						 <th>Relative Rank</th>
					  </tr>
					</thead>
					<tbody id="word_table_body">
					</tbody>
				</table>
				<div  id="paging" class="word_space"></div>
			</td>
			<td style="vertical-align: top;" width="100%">		
				<div id="kanji_space">
            {% for kanji in kanjiTable %}
                <span id="idz_{{ kanji[0] }}"><a href="#" class="kanjiref" id="id_{{ kanji[0] }}">{{ kanji[1] }}<a></span>
            {% endfor %}
				</div>
			 </td>
		</tr>			 
        </table>
    </td>
</tr>
</table>
</body>	